<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<ul>
<%for(var i= 0;i<tz.length;i++){%>
<li><%-tz[i].content%></li>
<%}%>
    </ul>
</body>
</html>