<link rel="stylesheet" href="/stylesheets/base.css">
<div class="footer  w">
<a href="#">关于勇士</a>
<a href="#">联系我</a>
<a href="#">问题反馈</a>
<a href="#">建议</a>
<a href="http://weibo.com/warriors?c=spr_qdhz_bd_baidusmt_weibo_s&nick=%E9%87%91%E5%B7%9E%E5%8B%87%E5%A3%AB">官方微博</a>
</div>