<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/base.css">
<div class="header">
    <div class="nav w clearfix">
        <div class="log fl">
            <a href="#"><img src="/images/warriors-logo.png" title="phpWind的log"></a>
        </div>
        <div class="header-nav fl">
            <ul>
                <li>首页</li>
                <li>小学生</li>
                <li>佛祖</li>
                <li>民工杜</li>
                <li>追梦绿</li>
                <li>最佳配角</li>
                <li class="clearfix"></li>
            </ul>
        </div>
        <div class="header-per fl">
            <i><img src="/images/search.png" alt=""></i>
            <a href="/login" ><%=user%></a>
            <a href="/reg" id="a1"><%=route%></a>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script>
//    var a1=document.getElementById("a1");
//    $("#a1").click(function(){
//        var val1=a1.childNodes;
//        var val2=val1[0]
//        var reg=/'注册'/;
//
//        console.log(val1[0]);
//        if(reg.test(val2)){
//            a1.href='/reg'
//        }else {
//            a1.href='/zx'
//        }
//    })

</script>